.column1-container {
    margin-left: 1vmax;
    margin-right: 1vmax;
    padding-left: 1vmax;
    padding-right: 1vmax;
    min-width: 14vmax;
    max-width: 20vmax;
    border-right: grey solid 1px;
}
.personal-information-container {
    position: sticky;
    top: 10vmax;
    overflow: hidden;
}
.column1-container .name {
    font-family: "Brush Script MT", cursive;
    font-size: 3vmax;
    font-size: max(3vmax, 28px);
    margin: 0;
}
@media (max-width: 480px){
    .column1-container {
        display: none;
    }
}