body {
    background-color: white;
    color: black;
    font-size: 1.25vmax;
    font-size: max(1.25vmax, 18px);
}
a {
    color: black;
}

@media (min-width: 480px){
    .columns-container {
        display: flex;
        flex-direction: row;
    }
    .header {
        height: 300px;
        height: max(24vmax, 300px);
        width: 100%;
        margin-bottom: 3vmax;
    }
    .header img {
        height: inherit;
        width: inherit;
        object-fit: cover;
    }
    footer {
        background-color: grey;
        padding-top: 3vmax;
        padding-bottom: 3vmax;
        text-align: center;
        border-top-color: grey;
        border-top-style: solid;
        border-top-width: 2px;
        font-size: larger;
    }
    .hamburger {
        display: none;
    }
    .contact-mobile {
        display: none;
    }
}
@media (max-width: 480px) {
    .hamburger {
        position: sticky;
        display: flex;
        width: 100%;
        top: 0;
        background-color: grey;
        height: max-content;
    }
    .hamburger ul {
        margin: 0;
        padding: 0;
        text-align: start;
        width: 100%;
    }
    .hamburger li {
        float: left;
        list-style-type: none;
        margin: 2px;
        padding: 3px;
        background-color: grey;
        color: white;
    }
    .hamburger li:hover {
        background-color: black;
    }
    .hamburger a {
        color: white;
        text-decoration: none;
    }
    .header {
        display: none;
    }
    footer {
        display: none;
    }
    .contact-mobile {
        clear: top;
    }
}
