header {
    background-color: grey;
    height: 25vmax;
    margin-bottom: 3vmax;
}
body {
    background-color: black;
    color: white;
    max-width: 100%;
    font-size: 1.25vmax;
}
footer {
    background-color: #1e1c1c;
    padding-top: 3vmax;
    height: 22vmax;
    text-align: center;
    border-top-color: grey;
    border-top-style: solid;
    border-top-width: 2px;
}

#to-top-button {
    display: block;
    background-color: #25192f;
    color: white;
    border-radius: 20%;
    cursor: pointer;
    font-size: 1.25vmax;
    padding: 1%;
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 99;
    visibility: hidden;
}
#to-top-button:hover {
    background-color: grey;
}

.columns-container {
    display: flex;
    flex-direction: row;
}

.column1-container {
    margin-left: 1vmax;
    margin-right: 1vmax;
    padding-left: 1vmax;
    padding-right: 1vmax;
    width: 16vmax;
    max-width: 20vmax;
    border-right: grey solid 1px;
}
.personal-information-container {
    position: sticky;
    top: 10vmax;
    font-size: 1.25vmax;
}
.personal-information-container div:hover {
    padding: 0.5vmax 0.2vmax 0.5vmax 1.25vmax;
    background-clip: padding-box;
    background-color: rgb(37, 36, 36);
    font-size: 1.5vmax;
}
.personal-information-container a {
    color: white;
}
.column1-container .name {
    font-family: "Brush Script MT", cursive;
    font-size: 3vmax;
    margin: 0;
}

.column2-container {
    margin-left: 1vmax;
    margin-right: 1vmax;
    padding-left: 1vmax;
    padding-right: 1vmax;
    overflow: hidden;
    max-width: 60vmax;
    width: max-content;
}
.column2-container section {
    clear: both;
    margin-bottom: 15px;
}
.section-name-container {
    background-color: #3b3838;
    border-style: solid;
    border-width: 2px;
    border-color: grey;
    display: block;
    padding-left: 1vmax;
    font-family: "Palatino Linotype", serif;
    font-weight: bold;
}
.section-content-container {
    float: left;
    display: block;
    padding: 5px;
}
.section-content-container dd {
    padding-top: 1vmax;
    padding-bottom: 1vmax;
}
.column2-container .project {
}
.column2-container .project p {
    clear: both;
    margin-top: 2vmax;
    margin-bottom: 2vmax;
    font-size: 1.75vmax;
    border-bottom-color: grey;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.project-image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.project-image-container img {
    height: 20vmax;
    width: 20vmax;
    padding-top: 1vmax;
    padding-bottom: 1vmax;
}
.column2-container p a {
    font-style: italic;
    font-size: 1.25vmax;
    color: green;
}

.column3-container {
    margin-left: 1vmax;
    margin-right: 1vmax;
    padding-left: 1vmax;
    padding-right: 1vmax;
    width: 16vmax;
    max-width: 20vmax;
    border-left: grey solid 1px;
}
.column3-container nav{
    margin-left: 4vmax;
    position: sticky;
    top: 10vmax;
    font-size: 1.75vmax;
    font-weight: bold;
}
.column3-container nav a {
    display: flex;
    flex-direction: column;
    line-height: 6vmax;
    color: white;
    width: max-content;
    padding: 0.75vmax;
}
.column3-container nav a:hover {
    border-radius: 30%;
    background-clip: border-box;
    background-color: rgb(65, 63, 63);
    font-size: 2vmax;
}
.column3-container nav a:focus {
    background-color: black;
    font-size: 1.75vmax;
}

